{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "node_modules",
    "packages/backend",
    "packages/frontend/e2e",
    "packages/frontend/app/out",
    "packages/design-system/storybook-static"
  ],
  "extends": ["airbnb", "prettier", "plugin:react/recommended"],
  "plugins": ["prettier", "react", "check-file"],
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.test.jsx"],
      "env": {
        "jest": true
      }
    }
  ],
  "rules": {
    "no-unused-vars": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/function-component-definition": [
      "warn",
      {
        "namedComponents": ["function-expression", "arrow-function"],
        "unnamedComponents": ["function-expression", "arrow-function"]
      }
    ],
    "check-file/folder-match-with-fex": [
      "error",
      {
        "*.test.{js,jsx}": "**/__tests__/",
        "*.stories.mdx": "**/__stories__/"
      }
    ],
    "check-file/filename-naming-convention": [
      "error",
      {
        "packages/design-system/**/*.{jsx}": "CAMEL_CASE"
      }
    ],
    "check-file/folder-naming-convention": [
      "error",
      {
        "packages/design-system/components/*": "CAMEL_CASE",
        "packages/design-system/recipes/*": "CAMEL_CASE"
      }
    ]
  }
}
