############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
.env

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history
package-lock.json

############################
# Tests
############################

packages/frontend/e2e/cypress/screenshots
coverage

############################
# Next.js
############################
.next/
out/

############################
# Storybook
############################
storybook-static


############################
# Yarn
############################
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions