/* Custom CSS styles for the icons gallery */
div.docblock-icongallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
  grid-gap: 30px 15px;
  justify-content: space-between;
}

.docblock-icongallery > div {
  flex: none;
  min-width: auto;
  margin: 0;
  flex-direction: column;
  word-break: break-word;
}

/* icon tile */
.docblock-icongallery > div > div:first-of-type {
  box-shadow: none;
}

/* icon name */
.docblock-icongallery > div > div:last-of-type {
  margin: 0;
  color: #778;
}
