body {
  font-family: "Poppins";
  color: #313138;
}

/* Custom CSS styles for the icons gallery */
div.docblock-icongallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 30px 15px;
  justify-content: space-between;
}

.docblock-icongallery > div {
  flex: none;
  min-width: auto;
  margin: 0;
  flex-direction: column;
  gap: 6px;
  word-break: break-word;
}

/* icon tile */
.docblock-icongallery > div > div:first-of-type {
  box-shadow: none;
  width: 50px;
  height: 50px;
}

.docblock-icongallery > div > div:first-of-type svg {
  width: 24px;
  height: 24px;
}

/* icon name */
.docblock-icongallery > div > div:last-of-type {
  margin: 0;
  color: #778;
}

/* Custom styles for the description below the component's name */
.sbdocs-content > h1 + p {
  font-size: 18px;
  opacity: 0.8;
}

/* Component's import styles, below the heading or description */
.sbdocs-content > h1 > code,
.sbdocs-content > p > code {
  font-size: 14px;
  background: #f0f2f5;
}

.illustrations-gallery {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 50px 35px;
  justify-content: space-between;
  align-items: stretch;
}

.illustrations-gallery > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.illustrations-gallery > div > div {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
