name: pr-name-linter
on:
  pull_request:
    types: ["opened", "edited", "reopened", "synchronize"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: Install project dependencies
        run: yarn @commitlint/config-conventional --legacy-peer-deps --prefer-offline
      - uses: JulienKode/pull-request-name-linter-action@v0.5.0
